body{
	background-color: black;
}
.vic{
	position: absolute;
	color: darkblue;
	font-size: 200px;
	left: 430px;
}

.back{
	position: relative;
	background-color: #23a4b8;
	width: 800px;
	height: 100px;
	top: 300px;
	left: 300px;
	border-radius: 100%;
	z-index:-1;
}

.hand{
	position: relative;
	background-color: red;
	width: 40px;
	height: 140px;
	top: 380px;
	left: 610px;
	border-radius: 55px 0px 10px 55px;
	border: 8px solid black;

}
.body{
	position: absolute;
	background-color: red;
	width: 140px;
	height: 200px;
	top: 310px;
	left: 660px;
	border-radius: 70px 100px 0px 0px;
	border: 8px solid black;
	border-bottom: red;

}

.lleg{
	position: absolute;
	background-color: red;
	width: 50px;
	height: 60px;
	top: 518px;
	left: 658px;
	border-right: 8px solid black;
	border-bottom: 8px solid black;
	border-radius: 0px 0px 30px 30px;
	border-left: 10px solid black;
}
.rleg{
	position: absolute;
	background-color: red;
	width: 50px;
	height: 60px;
	top: 518px;
	left: 743px;
	border-right: 8px solid black;
	border-bottom: 8px solid black;
	border-radius: 0px 0px 30px 30px;
	border-left: 15px solid black;
	

}

.line{
	position: relative;
	background-color: black;
	width:20px;
	height:1px;
	top: 362px;
	left: 720px;
	border:7px solid black;
}
.eye{
	position: absolute;
	background-color: #918f8e;
	width: 80px;
	height: 50px;
	top: 360px;
	left: 729px;
	border-radius: 20px 30px 30px 20px;
	border: 8px solid black;

}


